<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body class="page-body">
  //= include/header.html
  <div class="our-token__wrapper">
    <div class="our-token">
      <div class="our-token__title">Our token</div>
      <div class="our-token__item wow fadeInUp" data-wow-offset="25">
        <img src="img/utility.png" alt="" class="our-token__item-img">
        <b class="our-token__item-title">Utility Token</b>
        <p class="our-token__item-text">A Token that can be used to buy Sports Merchandise, Memorabilia & Tickets at special prices on our online marketplace.</p>
      </div>
      <div class="our-token__item wow fadeInUp" data-wow-offset="25">
        <img src="img/value.png" alt="" class="our-token__item-img">
        <b class="our-token__item-title">Value Token</b>
        <p class="our-token__item-text">A value Token that can be used to become a member of the SPORTCO Global Club.</p>
      </div>
      <div class="our-token__item wow fadeInUp" data-wow-offset="25">
        <img src="img/media.svg" alt="" class="our-token__item-img">
        <b class="our-token__item-title">Lorem ipsum.</b>
        <p class="our-token__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat soluta.</p>
      </div>
      <div class="our-token__item wow fadeInUp" data-wow-offset="25">
        <img src="img/payouts.png" alt="" class="our-token__item-img">
        <b class="our-token__item-title">Regular Payouts</b>
        <p class="our-token__item-text">Receive Regular Payouts to your SPORTCO Wallet on contribution of content or reaching a performance milestone.</p>
      </div>
      <div class="our-token__item wow fadeInUp" data-wow-offset="25">
        <img src="img/media.svg" alt="" class="our-token__item-img">
        <b class="our-token__item-title">Lorem ipsum.</b>
        <p class="our-token__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat soluta.</p>
      </div>
      <div class="our-token__item wow fadeInUp" data-wow-offset="25">
        <img src="img/peer-to-peer.png" alt="" class="our-token__item-img">
        <b class="our-token__item-title">Peer To Peer</b>
        <p class="our-token__item-text">You can exchange the Token with other Sports fans on our sports platforms for competing or challenging in any of our Sports Games.</p>
      </div>
    </div>
  </div>
  <div class="token-distribution__wrapper">
    <div class="token-distribution">
      <div class="token-distribution__title">Token distribution</div>
      <div class="token-distribution__left wow fadeInLeft" data-wow-offset="25">
        <img src="img/logo.svg" alt="logo" class="token-distribution__left-img">
        <b class="token-distribution__left-title">Token</b>
        <a href="" class="token-distribution__left-link">Link</a>
      </div>
      <div class="token-distribution__right wow fadeInRight" data-wow-offset="25">
        <div class="token-distribution__right-value">
          <span>AVAILABLE TOKENS IN WAVE 1 FOR COMMUNITY-FUNDING
</span><span>1 500 000</span>
        </div>
        <div class="token-distribution__right-price"><span>PRE-ICO PRICE
</span><span>1  Coin = 100 €

</span></div>
        <div class="token-distribution__right-price"><span>ICO Wave 1 PRICE
</span><span>1  Coin = 100 €</span><span>Participate via ETH, BTC, USD</span></div>
      </div>
    </div>
  </div>
  <div class="parameters__wrapper">
    <div class="parameters">
      <div class="parameters__title">CROWDFUNDING PARAMETERS & TOKEN ALLOCATION</div>
      <div class="parameters__item wow zoomIn" data-wow-offset="25">
        <b>PRE-ICO</b>
        <p>We will release a limited supply of Tokens in Pre-ICO. Any Pre-ICO Tokens unsold will go to the ICO Pool</p>
      </div>
      <div class="parameters__item wow zoomIn" data-wow-offset="25">
        <b>ICO</b>
        <p>At the end of ICO Wave 1, unsold tokens will be put into the Rewards Pool.
        </p>
      </div>
      <div class="parameters__item wow zoomIn" data-wow-offset="25">
        <b>COINCO</b>
        <p><span>Wave 1 Supply of Tokens:</span><span>1 500 000</span></p>
      </div>
      <!--      <div class="parameters__image wow zoomIn" data-wow-offset="25"><img src="https://sportco.io/img/token-allocation-trans3.png" alt=""></div>-->
    </div>
  </div>
  <div class="team__wrapper">
    <div class="team">
      <div class="team__title">Our team</div>
      <div class="team__item wow fadeInUp" data-wow-offset="25">
        <img src="img/team.jpg" alt="" class="team__item-img">
        <b class="team__item-name">Ivam Ivamov</b>
        <span class="team__item-profession">CEO</span>
        <p class="team__item-descr">Anuj is the founder and CEO of Sportco, SportsWizz Limited, and Abacus (Seychelles) Limited. Earning his PGDM from Indian Institute of Management Ahmedabad in Marketing, Finance, and Business Management, Anuj has over 25 years of experience across sports media, financial services and technology industries. Previously, he served as a principal consultant and head of the Retail & CPG Domain team at Infosys Technologies Ltd. As an entrepreneur, he has brought these three essential components together to envision the Sportco eco-system using token economy based on blockchain technology.</p>
      </div>
      <div class="team__item wow fadeInUp" data-wow-offset="25">
        <img src="img/team-1.jpg" alt="" class="team__item-img">
        <b class="team__item-name">Ivam Ivamov</b>
        <span class="team__item-profession">CEO</span>
        <p class="team__item-descr">Anuj is the founder and CEO of Sportco, SportsWizz Limited, and Abacus (Seychelles) Limited. Earning his PGDM from Indian Institute of Management Ahmedabad in Marketing, Finance, and Business Management, Anuj has over 25 years of experience across sports media, financial services and technology industries. Previously, he served as a principal consultant and head of the Retail & CPG Domain team at Infosys Technologies Ltd. As an entrepreneur, he has brought these three essential components together to envision the Sportco eco-system using token economy based on blockchain technology.</p>
      </div>
      <div class="team__item wow fadeInUp" data-wow-offset="25">
        <img src="img/team-2.jpeg" alt="" class="team__item-img">
        <b class="team__item-name">Ivam Ivamov</b>
        <span class="team__item-profession">CEO</span>
        <p class="team__item-descr">Anuj is the founder and CEO of Sportco, SportsWizz Limited, and Abacus (Seychelles) Limited. Earning his PGDM from Indian Institute of Management Ahmedabad in Marketing, Finance, and Business Management, Anuj has over 25 years of experience across sports media, financial services and technology industries. Previously, he served as a principal consultant and head of the Retail & CPG Domain team at Infosys Technologies Ltd. As an entrepreneur, he has brought these three essential components together to envision the Sportco eco-system using token economy based on blockchain technology.</p>
      </div>
      <div class="team__item wow fadeInUp" data-wow-offset="25">
        <img src="https://sportco.io/img/team/17.png" alt="" class="team__item-img">
        <b class="team__item-name">Ivam Ivamov</b>
        <span class="team__item-profession">CEO</span>
        <p class="team__item-descr">Anuj is the founder and CEO of Sportco, SportsWizz Limited, and Abacus (Seychelles) Limited. Earning his PGDM from Indian Institute of Management Ahmedabad in Marketing, Finance, and Business Management, Anuj has over 25 years of experience across sports media, financial services and technology industries. Previously, he served as a principal consultant and head of the Retail & CPG Domain team at Infosys Technologies Ltd. As an entrepreneur, he has brought these three essential components together to envision the Sportco eco-system using token economy based on blockchain technology.</p>
      </div>
      <div class="team__item wow fadeInUp" data-wow-offset="25">
        <img src="https://sportco.io/img/team/17.png" alt="" class="team__item-img">
        <b class="team__item-name">Ivam Ivamov</b>
        <span class="team__item-profession">CEO</span>
        <p class="team__item-descr">Anuj is the founder and CEO of Sportco, SportsWizz Limited, and Abacus (Seychelles) Limited. Earning his PGDM from Indian Institute of Management Ahmedabad in Marketing, Finance, and Business Management, Anuj has over 25 years of experience across sports media, financial services and technology industries. Previously, he served as a principal consultant and head of the Retail & CPG Domain team at Infosys Technologies Ltd. As an entrepreneur, he has brought these three essential components together to envision the Sportco eco-system using token economy based on blockchain technology.</p>
      </div>
      <div class="team__item wow fadeInUp" data-wow-offset="25">
        <img src="https://sportco.io/img/team/17.png" alt="" class="team__item-img">
        <b class="team__item-name">Ivam Ivamov</b>
        <span class="team__item-profession">CEO</span>
        <p class="team__item-descr">Anuj is the founder and CEO of Sportco, SportsWizz Limited, and Abacus (Seychelles) Limited. Earning his PGDM from Indian Institute of Management Ahmedabad in Marketing, Finance, and Business Management, Anuj has over 25 years of experience across sports media, financial services and technology industries. Previously, he served as a principal consultant and head of the Retail & CPG Domain team at Infosys Technologies Ltd. As an entrepreneur, he has brought these three essential components together to envision the Sportco eco-system using token economy based on blockchain technology.</p>
      </div>
    </div>
  </div>
  <div class="technologies__wrapper">
    <div class="technologies">
      <div class="technologies__title">Our technologies</div>
      <div class="technologies__item wow fadeIn" data-wow-offset="25"> <img src="img/networks.png" alt="" class="technologies__item-img">
        <b class="technologies__item-title">BLOCKCHAIN NETWORK</b>
        <p class="technologies__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat soluta.</p>
      </div>
      <div class="technologies__item wow fadeIn" data-wow-offset="25"> <img src="img/media.svg" alt="" class="technologies__item-img">
        <b class="technologies__item-title">Lorem ipsum.</b>
        <p class="technologies__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat soluta.</p>
      </div>
      <div class="technologies__item wow fadeIn" data-wow-offset="25"> <img src="img/media.svg" alt="" class="technologies__item-img">
        <b class="technologies__item-title">Lorem ipsum.</b>
        <p class="technologies__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat soluta.</p>
      </div>
    </div>
  </div>
  <div class="features__wrapper">
    <div class="features">
      <div class="features__title">Why us</div>
      <div class="features__item wow zoomIn" data-wow-offset="25"><img src="img/commitment.png" alt="commitment" class="features__item-img"><span class="features__item-descr">Commitment</span></div>
      <div class="features__item wow zoomIn" data-wow-offset="25"><img src="img/team.png" alt="" class="features__item-img"><span class="features__item-descr">Experienced Team</span></div>
      <div class="features__item wow zoomIn" data-wow-offset="25"><img src="img/respect.png" alt="respect" class="features__item-img"><span class="features__item-descr">Respect</span></div>
      <div class="features__item wow zoomIn" data-wow-offset="25"><img src="img/affordability.png" alt="affordability" class="features__item-img"><span class="features__item-descr">Affordability</span></div>
      <div class="features__item wow zoomIn" data-wow-offset="25"><img src="img/ethical.png" alt="ethical" class="features__item-img"><span class="features__item-descr">Ethical</span></div>
      <div class="features__item wow zoomIn" data-wow-offset="25"><img src="img/producers.png" alt="" class="features__item-img"><span class="features__item-descr">AI, AR & SWARM Technologies</span></div>
    </div>
  </div>
  <div class="partners__wrapper">
    <div class="partners">
      <div class="partners__title">Our partners</div>
      <div class="partners__item wow fadeInRight" data-wow-offset="25"><img src="img/partner-1.png" alt="">
      </div>
      <div class="partners__item wow fadeInRight" data-wow-offset="25"><img src="img/partner-2.png" alt="">
      </div>
      <div class="partners__item wow fadeInRight" data-wow-offset="25"><img src="img/partner-3.jpg" alt="">
      </div>
      <div class="partners__item wow fadeInRight" data-wow-offset="25"><img src="img/partner-4.jpg" alt="">
      </div>
      <div class="partners__item wow fadeInRight" data-wow-offset="25"><img src="img/partner-5.png" alt="">
      </div>
      <div class="partners__item wow fadeInRight" data-wow-offset="25"><img src="img/partner-6.png" alt="">
      </div>
    </div>
  </div>
  <div class="feedback-form__wrapper">
    <form action="" class="feedback-form">
      <div class="feedback-form__title">Contact form</div>
      <div class="feedback-form__item wow fadeInUp" data-wow-offset="50">
        <label for="name">Name</label><input type="text" id="name">
      </div>
      <div class="feedback-form__item wow fadeInUp" data-wow-offset="50">
        <label for="email">Email</label><input type="email" id="email">
      </div>
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" class="wow fadeInUp" data-wow-offset="50"></textarea>
      <button type="submit" class="wow fadeInUp">Send</button>
    </form>
  </div>
  //= include/footer.html
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/animatescroll.min.js"></script>
  <script src="js/main.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>