<div class="page-footer__wrapper">
  <footer class="page-footer">
    <div class="page-footer__social">
      <div class="page-footer__social-item"><img src="img/location.svg" alt="" class="page-footer__social-item-img"><span class="page-footer__social-item-descr">Republic of Seychelles</span></div>
      <div class="page-footer__social-item"><img src="img/phone.svg" alt="" class="page-footer__social-item-img"><span class="page-footer__social-item-descr">+248 1234567</span></div>
      <div class="page-footer__social-item"><img src="img/email.svg" alt="" class="page-footer__social-item-img"><span class="page-footer__social-item-descr">info@token.io</span></div>
    </div>
    <div class="page-footer__rights">2018 | BABLOCOIN | ALL RIGHT RESERVED</div>
  </footer>
</div>