.main-nav {
  width: 75%;
  right: 0;
  margin-top: 45px;
  margin-left: auto;
  width: calc(100% - 100px);
  max-height: 200px;
  z-index: 1000;
  &__toggle {
    display: none;
  }
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    &-item {
      display: flex;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        position: relative;
        overflow-y: hidden;
        padding-top: 4px;
        padding-bottom: 4px;
        box-sizing: border-box;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 30px;
          background-color: #fff;
          height: 4px;
          width: 100%;
          transition: 0.4s all;
        }
        &:hover::after {
          transform: translateY(-3px);
        }
      }
    }
  }
}

@media #{$mobile-widths} {
  .main-nav {
    width: 100%;
    &__list {
      flex-direction: column;
      position: absolute;
      background-color: rgba(63, 93, 135, 0.9);
      top: 10px;
      left: 0;
      transition: 0.4s transform;
      height: 100%;
      box-sizing: border-box;
      padding-top: 120px;
      padding-bottom: 10px;
      justify-content: flex-start;
      &-item {
        padding-left: 52px;
        box-sizing: border-box;
        margin-bottom: 20px;
      }
    }
    &--opened {
      .main-nav__list {
        transform: translateY(-10px);
      }
    }
    &--closed {
      .main-nav__list {
        transform: translateY(-250%);
      }
    }
    &__toggle {
      position: absolute;
      background-color: #fff;
      display: block;
      width: 24px;
      height: 4px;
      font-size: 0;
      border: none;
      right: 20px;
      top: 50px;
      transition: 0.4s all;
      z-index: 999;
      visibility: visible;
      outline: none;
      z-index: 4000;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #ffff;
        width: 100%;
        height: 100%;
        left: 0;
        transition: 0.4s all;
      }
      &::before {
        top: -7px;
      }
      &::after {
        bottom: -7px;
      }
      &--open {
        background-color: transparent;
        top: 56px;
        &::after {
          transform: rotate(45deg) translate(-10px, -10px);
        }
        &::before {
          transform: rotate(-45deg);
        }
      }
    }
  }
}