.page-header {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #039; //    background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, .06), rgba(255, 255, 255, .06) 2px, transparent 0, transparent 40px), repeating-linear-gradient(-180deg, rgba(255, 255, 255, .06), rgba(255, 255, 255, .06) 2px, transparent 0, transparent 40px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; //    background-size: 50px 50px;
    position: relative;
  }
  @extend %container;
  height: 100%;
  display: flex;
  &__logo {
    top: 0;
    left: 20px;
    z-index: 1000;
    &-image {
      width: 200px;
      height: auto;
    }
  }
  &__title {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    display: flex;
    flex-direction: column;
    span {
      &:nth-of-type(2) {
        padding-left: 90px;
      }
      &:nth-of-type(3) {
        padding-left: 150px;
      }
    }
  }
}

@media #{$mobile-widths} {
  .page-header {
    position: static;
    width: 100%;
    &__wrapper {
      position: relative;
    }
    &__title {
      font-size: 40px;
      span {
        &:nth-of-type(n) {
          padding-left: 0;
        }
      }
    }
    &__logo {
      left: 0;
      width: 100%;
      z-index: 4000;
      height: 112px;
      &-image {
        width: 200px;
      }
    }
  }
}