.page-header {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #93A09A;
    background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, .06), rgba(255, 255, 255, .06) 2px, transparent 0, transparent 40px), repeating-linear-gradient(-180deg, rgba(255, 255, 255, .06), rgba(255, 255, 255, .06) 2px, transparent 0, transparent 40px);
    background-size: 50px 50px;
    box-shadow: inset 0px 0px 125px rgba(0, 0, 0, 0.6);
  }
  @extend %container;
  position: relative;
  height: 100%;
  &__logo{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__title{
    @extend %center;
    font-size: 44px;
    color: #404040;
  }
}