.token-distribution {
  &__wrapper {
    background-color: #103140;
  }
  @extend %container;
  color: #fff;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 60px;
  &__title {
    width: 100%;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    color: #fff;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    &-img {
      width: 250px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      transform: translateX(-7px);
      margin-top: -50px;
      margin-bottom: 20px;
    }
    &-title {
      display: none;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    &-link {
      text-align: center;
      width: 160px;
      text-decoration: none;
      color: #fff;
      background-color: #CDAD73;
      margin-left: auto;
      margin-right: auto;
      padding-top: 18px;
      padding-bottom: 18px;
      border-radius: 2px;
    }
  }
  &__right {
    width: 50%;
    &-value {
      padding: 15px;
      box-sizing: border-box;
      background-color: #1A3F4C;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      margin-bottom: 10px;
      span {
        &:last-of-type {
          font-size: 34px;
          margin-top: 10px;
        }
      }
    }
    &-price {
      display: flex;
      flex-direction: column;
      border-top: 1px solid rgba(0, 0, 0, .1);
      padding-top: 15px;
      padding-bottom: 15px;
      span {
        &:first-of-type {
          margin-bottom: 10px;
        }
        &:nth-of-type(2) {
          color: #CBAC75;
          font-size: 28px;
        }
        &:nth-of-type(3) {
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
  }
}

@media #{$mobile-widths} {
  .token-distribution {
    flex-direction: column;
    &__left {
      width: 100%;
      margin-bottom: 20px;
    }
    &__right {
      width: 100%;
    }
  }
}